.standard-lp {
  background: pink;

  .title {
    color: red;
    font-size: 2em;
  }

  .subtitle {
    color: blue;
    font-size: 1.5em;
  }

  .paragraph {
    color: green;
    font-size: 1em;
  }
}
